*{
    margin : 0;
    padding : 0;
}
body{
    background-color: black;
}
h6{
    margin-top: 10px;
    color: #e6e6e6;
}
#menu{
    background-color: white;
    height: 185px;
    width: 40px;
    position: absolute;
    padding-top: 3%;
    top: 36%;
    right: 0%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button{
    background-color: white;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
}
#back{
    background-color:#161d29;
    height: 670px;
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#main{
    background-color:#1f2c40;
    height: 600px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #e6e6e6; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 181, 48);
  }
#child{
    background-color: #e6e6e6;
    width: 900px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

#red{
    background-color: red ;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-left:12px;
    margin-right:12px;
    float: left;
}
#yellow{
    background-color:  #e6b800 ;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-right:12px;
    float: left;
}
#green{
    background-color: #33cc33 ;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    float: left;
}
#red, #yellow, #green{
    margin-top: 15px;
}
#title{
    width: 870px;
    padding: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
#line{
    float: left;
    height: 550px;
    width: 40px ;
    border-bottom-left-radius: 10px;
    background-color:#1f2c40;
    padding-top:10px;
    padding-right: 5px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #9aaab3;
}
#line p{
    margin-top: 13px;
    line-height : 1.5 ;
}
#main #code{
    margin-top: 22px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:#e6e6e6;
    line-height : 1.5 ;
}